
<!DOCTYPE HTML>

<html>
    <head>
    	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- <link rel="icon" href="../../favicon.ico"> -->

		<title>Registerpage</title>

			<!-- Bootstrap core CSS -->
		<link href={{url_for('static', filename='assets/css/core.css')}} rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href={{url_for('static', filename='assets/css/jumbotron.css')}} rel="stylesheet">
		<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
		<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
		<script src={{url_for('static', filename='assets/js/ie-emulation-modes-warning.js')}}></script>

	</head>

	<body>
    <div id="adattarsi, search, sign up or in">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={{url_for('main_page')}}>Adattarsi</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if userid %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href={{url_for('mypage')}}>Mypost <span class="badge">3</span></a></li>
                <li><a href={{url_for('logout')}}>Logout</a></li>
                <li><a href={{url_for('upload_page')}}>Post</a></li>
            </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
            {% else %}
          <form class="navbar-form navbar-right" action="{{url_for('login_post')}}" method="post">
            <div class="form-group">
              <input type="text" placeholder="Id" class="form-control" name = "userid">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" name = "password">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
            <a href={{url_for('register_page')}} >
            <button type="button" class="btn btn-success" >Sign up</button>
            </a>
          </form>
          {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    </div><!--/ adattarsi, search, sign up or in -->


		<!-- 회원가입 -->
		<div class="well well-lg" style="margin:20px; margin-top:50px;">
			<div class="form">
				<div class="container">
					<div id="signup">
						<h1>Sign Up for Free</h1>
						<form action="{{ url_for('register_post') }}" method="post">
							<div class="input-group" style="padding:5px;">
								<input type="text" class="form-control" placeholder="ID" name = "userid">
							</div>
							<div class="input-group"style="padding:5px;">
								<input type="password" class="form-control" placeholder="Password" name = "password">
							</div>
							<div class="input-group" style="padding:5px;">
								<input type="text" class="form-control" placeholder="Age" name = "age">
							</div>
							<div class="input-group" style="padding:5px;">
								<input type="text" class="form-control" placeholder="E-Mail Address" name = "email">
							</div>
							<div style="padding:5px;">
								<button class="btn btn-default" type="submit" name="signin">Get Started</button>
							</div>
						</form>
					</div>
				</div>
			</div><!-- tab-content -->
		</div> <!-- /form -->
	</body>
</html>

