<CTYPE HTML>

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- <link rel="icon" href="../../favicon.ico"> -->

		<title>Uploadpage</title>

			<!-- Bootstrap core CSS -->
		<link href={{url_for('static', filename='assets/css/core.css')}} rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href={{url_for('static', filename='assets/css/jumbotron.css')}} rel="stylesheet">
		<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
		<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
		<script src={{url_for('static', filename='assets/js/ie-emulation-modes-warning.js')}}></script>

	</head>

	<body>
    <div id="adattarsi, search, sign up or in">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={{url_for('main_page')}}>Adattarsi</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if userid %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href={{url_for('mypage')}}>Mypost <span class="badge">3</span></a></li>
                <li><a href={{url_for('logout')}}>Logout</a></li>
                <li><a href={{url_for('upload_page')}}>Post</a></li>
            </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
            {% else %}
          <form class="navbar-form navbar-right" action="{{url_for('login_post')}}" method="post">
            <div class="form-group">
              <input type="text" placeholder="Id" class="form-control" name = "userid">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" name = "password">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
            <a href={{url_for('register_page')}} >
            <button type="button" class="btn btn-success" >Sign up</button>
            </a>
          </form>
          {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    </div><!--/ adattarsi, search, sign up or in -->

		<script type="text/javascript">
			function previewFile(){
				var _valid = ["jpg", "jpeg", "bmp", "gif", "png"]; 
				var preview = document.querySelector('.img_file'); //selects the query named img
				var file    = document.querySelector('input[type=file]').files[0]; //sames as here
				var reader  = new FileReader();

				if(file != null){
					for(var i=0;i<_valid.length;i++){
						console.log(file.name);
						var isValid = false;
						var name = file.name;
						var type = _valid[i];
						if(name.substr(name.length-type.length,type.length).toLowerCase() == _valid[i]){
							isValid = true;
							break;
						}
					}
				}
				if(isValid){
					reader.onloadend = function(){
                                        	preview.src = reader.result;
                               		}
                            		if(file){
                                        	reader.readAsDataURL(file); //reads the data as a URL
                               	 	}
                                	else{
                                        	preview.src = "";
                                	}
				}
				else{
					alert("Wrong File Type! Only jpg(jpeg), bmp, gif, png files are allowed");
				}
			}
			previewFile();  //calls the function named previewFile()
		</script>

		<form method="post" action={{url_for('upload_post')}}  enctype="multipart/form-data">
		<div style="margin:auto; margin-top:50px; width:795px; height:400px; padding:20px;">
			<div style="float:left; padding-right:10px;">
				<!-- If possible, change button in the preview image box -->
				
				<input type="image" src="" class="img_file" width="300" height="400" alt="No Image!!" >	
				<input type="file" style="width 300px;" onchange="previewFile()" name = "file"><br>
			</div>

			<div style="float:left; padding-left:10px;" >
				<textarea class="form-control"name="textfield" style="width:435px; height:200px;" placeholder="Contents"></textarea>
				<div>
					<h3>Categories</h3>
					<img class="tilt pic" src={{url_for('static', filename='bodytype/bt1.jpg')}}  width="50" height="150">
					<img class="tilt pic" src={{url_for('static', filename='bodytype/bt2.jpg')}}  width="50" height="150">
					<img class="tilt pic" src={{url_for('static', filename='bodytype/bt3.jpg')}}  width="50" height="150">
					<img class="tilt pic" src={{url_for('static', filename='bodytype/bt4.jpg')}}  width="50" height="150">
					<img class="tilt pic" src={{url_for('static', filename='bodytype/bt5.jpg')}}  width="50" height="150">
					<img class="tilt pic" src={{url_for('static', filename='bodytype/bt6.jpg')}}  width="50" height="150">
					<img class="tilt pic" src={{url_for('static', filename='bodytype/bt7.jpg')}}  width="50" height="150">
					<img class="tilt pic" src={{url_for('static', filename='bodytype/bt8.jpg')}}  width="50" height="150">
					<img class="tilt pic" src={{url_for('static', filename='bodytype/bt9.jpg')}}  width="50" height="150">
				</div>
				<div>
					<input type="radio" name = 'r' value = 1 style="margin-left:19px;margin-right:19px;" />
					<input type="radio" name = 'r' value = 2 style="margin-left:19px;margin-right:19px;"/>
					<input type="radio" name = 'r' value = 3 style="margin-left:19px;margin-right:19px;"/>
					<input type="radio" name = 'r' value = 4 style="margin-left:19px;margin-right:19px;"/>
					<input type="radio" name = 'r' value = 5 style="margin-left:19px;margin-right:19px;"/>
					<input type="radio" name = 'r' value = 6 style="margin-left:19px;margin-right:19px;"/>
					<input type="radio" name = 'r' value = 7 style="margin-left:19px;margin-right:19px;"/>
					<input type="radio" name = 'r' value = 8 style="margin-left:19px;margin-right:19px;"/>
					<input type="radio" name = 'r' value = 9 style="margin-left:19px;margin-right:19px;"/>

				</div>
			</div>
		</div>
		<br style="clear:both;">
		<div style="margin:auto; clear:both; width:74px; height:34px;">
			<input class="btn btn-info" type="submit" value="Post">
		</div>
		</form>
	</body>
</html>
